<div>
	CROIX FERMETURE
</div>
<div>
	<p>TITRE PROJET</p>
	ligne
	<p>TYPE PROJET</p>
	<p>DATE PROJET</p>
</div>
ligne

<div>
	<div>
		LOGICIELS
	</div>
	<div>
		Descriptions
	</div>
</div>

<div></div>
